@use 'vars';
@use 'reset';
@use 'basics';
@use 'nav';
@use 'footer';


.logo{
	max-width: 4rem;
	// margin-top: 2rem;
}

.hero{

	h1{
		line-height: 100%;
	}

	img{
		border-radius: 1rem;
	}

	.ctas{
		gap: 0.7rem;
	}
}

.hero-logo{
	max-width: 10rem;
	margin-top: -4rem;
}



.pillar-img--wrap{
	// max-width: 20rem;
	height: fit-content;
	// aspect-ratio: 1/1;
	overflow: hidden;

	img{
		width: 100%;
		border-radius: 0.4rem;
	}
 }
 


#don{
	scroll-margin-top: 100px;
}


.logo-simple{
	max-width: 4rem;
	margin-bottom: 1rem;
}

.note {
	font-size: 0.9rem;
	color: var(--ink-muted);
	font-style: italic;
	margin-top: auto;
 }
 


 /* CTA */
.cta {
  padding: 96px 0;
}

.cta-inner {
  display: flex;
  align-items: center;
}

.cta-actions {
  display: flex;
  gap: 12px;
  align-items: flex-start;
}